
ada-loop/obj/gnatprove/phase1/main.cswi

ada-demo/.CFUserTextEncoding
ada-demo/.DS_Store
ada-demo/.gitconfig
*.txt
*.bkp
*.xml
*.tmp
*.cswi
*.out
*.mlw
*.conf
*.spark
*.ali
*.stderr
*.stdout
*.o
*.cgpr
*.db-shm
*.db-wal
*.bexch
*.db
*.cfg
.DS_Store
ada-demo/b__main.ads
ada-demo/b__main.adb
ada-demo/b__hello.ads
ada-demo/b__hello.adb
ada-demo/.gps/log_gnatinspect
ada-loop/obj/b__main.adb
ada-loop/obj/b__main.ads
ada-loop/obj/gnatprove/main/why3shapes
ada-loop/obj/main
Workshop8/obj/b__main.adb
Workshop8/obj/b__main.ads
Workshop8/obj/gnatprove/divmod/why3shapes
Workshop8/obj/gnatprove/main/why3shapes
ada-ghost-code/obj/gnatprove/integer_operations/why3shapes
Workshop8/obj/main
